.employeeGrid
{
height:30vh;
margin-left:5px;
margin-right:5px;
margin-botton:5px;
margin-top:5px;
padding:px;
border:1px solid black;
overflow:scroll;
}
.employeeGridHeader
{
text-align:right;
padding:5px;
}
.employeeGridSNOColumnTitle
{
width:60px;
text-align:center;
}
.employeeGridIdColumnTitle
{
width:200px;
text-align:center;
}
.employeeGridNameColumnTitle
{
width:100px;
text-align:center;
}
.employeeGridDesignationColumnTitle
{
width:100px;
text-align:center;
}
.employeeGridEditOptionColumnTitle
{
width:100px;
text-align:center;
}
.employeeGridDeleteOptionColumnTitle
{
width:100px;
text-align:center;
}